<nav class="navbar navbar-expand-lg Nav rounded fixed-top">
  <div class="container">
    <!-- Agrega un botón de hamburguesa para dispositivos pequeños -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-pills nav-fill mx-auto">
        <li class="nav-item <%= isIndex ? 'active' : '' %>">
          <a class="nav-link" href="/">Index</a>
        </li>
        <li class="nav-item <%= isSaved ? 'active' : '' %>">
          <a class="nav-link" href="/savedCountries">Saved Countries</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
